{% extends "./base.html" %}
{% block title %}
    Inicio
{% endblock %}

{% block body %}
<center>
    <article>
                <p class="animate__animated animate__pulse animate__infinite"
                    style="font-family: 'Comic Sans MS', sans-serif; font-size: 50px; ">SITU</p><br>
                <h3>LOGO</h3>

                {% load static %}
                <img src="{% static 'logo.png' %}" alt="No se encontro imagen no encontrada" width="350" height="220"><br><br>
                Bienvenido al sistema de prueba de SITU
                </p>
                
            </article>

            <hr/>

            <article style="border: 1px solid #9eafb7;width: 50%;background: #f0f0f0;border-radius: 10px;">
                <h2>Prueba SaaS - Heroku</h2>
                <h6>Integrantes:</h6>
                <ul>
                    <li>Paulo Jara</li>
                    <li>Danny Muñoz</li>
                </ul>
            </article>
    </center>
{% endblock body %}